<span *ngIf ="dog.isSenior" class='warning label'>Senior</span>
<span *ngIf ="dog.balance > 200" class='tiny alert button' (click)='payBill($event)'><i class="fas fa-dollar-sign"></i> Pay</span> 
<span [ngSwitch]="dog.examType">
    <template *ngSwitchCase="checkup"><span class='label'><i class="fas fa-check"></i></span></template>
    <template *ngSwitchCase="routine"><span class='label'><i class="fas fa-stethoscope"></i></span></template>   	
    <template *ngSwitchCase="major"><span class='label'>Major</span></template>   	
    <template *ngSwitchCase="complete"><span class='label'>Complete</span></template>
    <template *ngSwitchDefault></template>
</span>
<img src="{{dog.imageUrl}}" title="{{dog.name}}" alt="{{dog.name}}" class='float-left c-imagePlacement1'>
<h3>{{dog.name}}</h3>
<div style='font-size:95%'>{{dog.age}} year old {{dog.gender}} {{dog.breed || 'unknown breed'}}
    last in the office {{(dog.lastOfficeVisit | date:'longDate') || 'never'}}
<span #balance *ngIf = "dog.balance > 0">Balance: {{dog.balance  | currency:'USD':'symbol':'1.2-2' }}</span></div>
