<h1>Children</h1>
<p>Before organizing child component</p>
<unorganized-stuff>
    <div>I am the first of all of the unwanted.</div>
    <details>This is detailed stuff 1. </details>
    <div a>1. aaaaaaaaaaaaaattribute.</div>
    <details>This is detailed stuff 2. </details>
    <div>We have leftovers.</div>
    <div class='togetherness'>A class likes to be together.</div>
    <div>Somebody lost this div. Is it yours?</div>
    <details>This is detailed stuff 3. </details>
    Where do you think this goes?
    <div a>2. Another aaaaaaaaaaaaaattribute.</div>
    <div class='togetherness'>We like each other.</div>
    <aside of='fries'>Crunchy hot good fries.</aside>
    <aside of='bacon'>Bacon goes with anything.</aside>
    At the end.
    <aside of='hash browns'>Wait, more potato crunchiness.</aside>
    <p>Unorganized paragraphs. Styled or unstyled? You decide.</p>

</unorganized-stuff>
<p>After organizing child component</p>

<p>Before ignoring child component</p>
<ignored-stuff>
    <div>bla bla bla</div>
    <img src='https://s-media-cache-ak0.pinimg.com/236x/cc/cc/95/cccc95d90c482d7ae3618d492f625216.jpg' />
    <div>Like you're really gonna read this.</div>
</ignored-stuff>
<p>After ignoring child component</p>
